* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #1f2937;
    color: #ffffff;
}

.headerlogo {
    margin: 10px;
    font-size: 24px;
    color: #f9faf8;
}


ul {
    gap: 30px;
    display: flex;
    margin: 10px;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}
/* this website is awesome */
.section1 {
    display: flex;
    justify-content: center;
    height: 100px;
    background: #1f2937;
    color: #ffffff;
}

.image {
    background: #6d747d;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
/* some random information */
.section2 {
    display: flex;
    justify-content: center;
    margin: auto;
    background: #ffffff;
    color: #1f2937;
}

figure img {
    height: 100px;
    width: 100px;
    border: 10px solid #3882f6;
    border-radius: 12px;
}
/* quote */
.section3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    background: #e5e7eb;
    color: #1f2937;
}

blockquote p {
    width: 775px;
    font-family: "light italic";
}

figcaption {
    text-align: right;
    font-weight: bold;
}
/* section4 sign up section */
.section4 {
    justify-content: center;
    display: flex;
    background: #ffffff;
    color: #ffffff;
}

.bluebox {
    background: #3882f6;
}

footer {
    padding: 15px;
    height: 50px;
    text-align: center;
    background: #1f2937;
    color: #ffffff;
}