header {
    background: #1f2937;
    color: #ffffff;
}
/* this website is awesome */
.section1 {
    background: #1f2937;
    color: #ffffff;
}
/* some random information */
.section2 {
    background: #ffffff;
    color: #1f2937;
}
/* quote */
.section3 {
    background: #e5e7eb;
    color: #1f2937;
}
/* section4 sign up section */
.section4 {
    background: #ffffff;
    color: #ffffff;
}

footer {
    background: #1f2937;
    color: #ffffff;
}